<div id="page" @mouseup="selectionnerFin" @touchend="selectionnerFin">

    <div id="tableau">
        <v-stage ref="stage" :config="{x: 0, y: 0, scaleX: 1, scaleY: 1, width: largeur, height: hauteur, draggable: false}" @mousedown="selectionnerDebut" @touchstart="selectionnerDebut" @mousemove="selectionnerMouvement" @touchmove="selectionnerMouvement" @mouseup="selectionnerFin" @touchend="selectionnerFin">
            <v-layer ref="objets">
                <template v-for="(item, indexItem) in items[page]">
                    <v-rect :config="item" v-if="item.objet === 'rectangle' || item.objet === 'rectangle-plein' || item.objet === 'surlignage'" @dragstart="selectionnerObjet" @dragend="deplacerFin" @transformend="redimensionnerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'rectangle_' + indexItem" />
                    <v-ellipse :config="item" v-else-if="item.objet === 'cercle' || item.objet === 'cercle-plein'" @dragstart="selectionnerObjet" @dragend="deplacerFin" @transformend="redimensionnerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'cercle_' + indexItem" />
                    <v-star :config="item" v-else-if="item.objet === 'etoile'" @dragstart="selectionnerObjet" @dragend="deplacerFin" @transformend="redimensionnerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'etoile_' + indexItem" />
                    <v-line :config="item" v-else-if="item.objet === 'ligne'" @dragstart="selectionnerObjet" @dragmove="deplacerLigne" @dragend="deplacerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'ligne_' + indexItem" />
                    <v-arrow :config="item" v-else-if="item.objet === 'fleche'" @dragstart="selectionnerObjet" @dragmove="deplacerLigne" @dragend="deplacerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'fleche_' + indexItem" />
                    <v-circle :config="item" v-else-if="item.objet === 'ancre'" @dragstart="selectionnerObjet" @dragmove="deplacerAncre" @dragend="deplacerFin" :key="'ancre_' + indexItem" />
                    <v-text :config="item" v-else-if="item.objet === 'texte'" @dragstart="selectionnerObjet" @dragend="deplacerFin" @dblclick="modifierTexte" @dbltap="modifierTexte" @transformend="redimensionnerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'texte_' + indexItem" />
                    <v-label :config="item" v-else-if="item.objet === 'label'" @dragstart="selectionnerObjet" @dragend="deplacerFin" @dblclick="modifierTexte" @dbltap="modifierTexte" @transformend="redimensionnerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'label_' + indexItem">
                        <v-tag :config="item.tag" />
                        <v-text :config="item.text" />
                    </v-label>
                    <v-image :config="item" v-else-if="item.objet === 'image' && item.hasOwnProperty('image') && item.fichier !== ''" @dragstart="selectionnerObjet" @dragend="deplacerFin" @transformend="redimensionnerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'image_' + indexItem" />
                    <v-label :config="item" v-else-if="item.objet === 'commentaire'" @dragstart="selectionnerObjet" @dragend="deplacerFin" @dblclick="gererCommentaires" @dbltap="gererCommentaires" @transformend="redimensionnerFin" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'commentaire_' + indexItem">
                        <v-tag :config="item.tag" />
                        <v-text :config="item.text" />
                    </v-label>
                    <v-line :config="item" v-else-if="item.objet === 'dessin'" @dragstart="selectionnerObjet" @mouseover="afficherAuteur" @mouseout="masquerAuteur" :key="'dessin_' + indexItem" />
                </template>
                <v-rect :config="{name: 'selection', fill: 'rgba(1, 206, 209, 0.2)', visible: (admin || role === 'editeur' || (options.hasOwnProperty('edition') && options.edition === 'ouverte')) && selection, x: positionSelectionX, y: positionSelectionY, width: largeurSelection, height: hauteurSelection}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-rect :config="{name: 'objet-rectangle', fill: 'transparent', visible: creation && outil === 'rectangle', x: positionObjetX, y: positionObjetY, width: largeurObjet, height: hauteurObjet, stroke: '#ff0000', strokeWidth: 3, dash: [7, 5]}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-rect :config="{name: 'objet-rectangle', fill: '#cccccc', visible: creation && outil === 'rectangle-plein', x: positionObjetX, y: positionObjetY, width: largeurObjet, height: hauteurObjet}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-ellipse :config="{name: 'objet-cercle', fill: 'transparent', visible: creation && outil === 'cercle', x: positionObjetX + (largeurObjet / 2), y: positionObjetY + (hauteurObjet / 2), width: largeurObjet, height: hauteurObjet, stroke: '#ff0000', strokeWidth: 3, dash: [7, 5]}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-ellipse :config="{name: 'objet-cercle', fill: '#cccccc', visible: creation && outil === 'cercle-plein', x: positionObjetX + (largeurObjet / 2), y: positionObjetY + (hauteurObjet / 2), width: largeurObjet, height: hauteurObjet}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-rect :config="{name: 'objet-surlignage', fill: '#ffff00', opacity: 0.5, visible: creation && outil === 'surlignage', x: positionObjetX, y: positionObjetY, width: largeurObjet, height: hauteurObjet}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-line :config="{name: 'objet-ligne', fill: '#ff0000', visible: creation && outil === 'ligne', x: 0, y: 0, points: [positionX1, positionY1, positionX2, positionY2], fill: '#ff0000', stroke: '#ff0000', strokeWidth: 3}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-arrow :config="{name: 'objet-fleche', fill: '#ff0000', visible: creation && outil === 'fleche', x: 0, y: 0, points: [positionX1, positionY1, positionX2, positionY2], pointerLength: 25, pointerWidth: 20, fill: '#ff0000', stroke: '#ff0000', strokeWidth: 3}" @dragend="deplacerFin" @transformend="redimensionnerFin" />
                <v-transformer ref="transformer" :config="{anchorStroke: '#000000', anchorFill: '#ffff00', anchorSize: 10 / echelle, anchorCornerRadius: 10 / echelle, borderStroke: definirCouleurBordure(), borderDash: [3, 3], borderStrokeWidth: 1 / echelle, enabledAnchors: definirAncres(), padding: 7.5 / echelle, rotateEnabled: definirRotation(), rotationSnaps: [0, 90, 180, 270], keepRatio: true, boundBoxFunc: definirLimites}" />
            </v-layer>
        </v-stage>
    </div>

    <a id="logo" href="/">
        <span />
    </a>

    <div id="outils" v-if="admin || role === 'editeur' || (options.hasOwnProperty('edition') && options.edition === 'ouverte')">
        <span class="outil historique" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('defaire')" @click="defaire" @keydown.enter="defaire">
            <img src="/img/icones/defaire.png" :alt="$t('defaire')">
        </span>
        <span class="outil historique" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('refaire')" @click="refaire" @keydown.enter="refaire">
            <img src="/img/icones/refaire.png" :alt="$t('refaire')">
        </span>
        <span class="separateur" />
        <span class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('selectionner')" :class="{'actif': outilSelectionner}" @click="definirOutilPrincipal('selectionner')" @keydown.enter="definirOutilPrincipal('selectionner')">
            <img src="/img/icones/curseur.png" :alt="$t('selectionner')">
        </span>
        <span class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('dessiner')" :class="{'actif': outilDessiner}" @click="definirOutilPrincipal('dessiner')" @keydown.enter="definirOutilPrincipal('dessiner')">
            <img src="/img/icones/stylo.png" :alt="$t('dessiner')">
        </span>
        <span class="separateur" />
        <span id="outil-rectangle" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('rectangle')" :class="{'actif': outilSelectionner && outil === 'rectangle'}" @click="selectionnerOutil('rectangle')" @keydown.enter="selectionnerOutil('rectangle')">
            <img src="/img/icones/rectangle.png" :alt="$t('rectangle')">
        </span>
        <span id="outil-rectangle-plein" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('rectanglePlein')" :class="{'actif': outilSelectionner && outil === 'rectangle-plein'}" @click="selectionnerOutil('rectangle-plein')" @keydown.enter="selectionnerOutil('rectangle-plein')">
            <img src="/img/icones/rectangle-plein.png" :alt="$t('rectanglePlein')">
        </span>
        <span id="outil-cercle" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('cercle')" :class="{'actif': outilSelectionner && outil === 'cercle'}" @click="selectionnerOutil('cercle')" @keydown.enter="selectionnerOutil('cercle')">
            <img src="/img/icones/cercle.png" :alt="$t('cercle')">
        </span>
        <span id="outil-cercle-plein" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('cerclePlein')" :class="{'actif': outilSelectionner && outil === 'cercle-plein'}" @click="selectionnerOutil('cercle-plein')" @keydown.enter="selectionnerOutil('cercle-plein')">
            <img src="/img/icones/cercle-plein.png" :alt="$t('cerclePlein')">
        </span>
        <span id="outil-etoile" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('etoile')" :class="{'actif': outilSelectionner && outil === 'etoile'}" @click="selectionnerOutil('etoile')" @keydown.enter="selectionnerOutil('etoile')">
            <img src="/img/icones/etoile.png" :alt="$t('etoile')">
        </span>
        <span id="outil-surlignage" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('surlignage')" :class="{'actif': outilSelectionner && outil === 'surlignage'}" @click="selectionnerOutil('surlignage')" @keydown.enter="selectionnerOutil('surlignage')">
            <img src="/img/icones/surligneur.png" :alt="$t('surlignage')">
        </span>
        <span id="outil-ligne" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('ligne')" :class="{'actif': outilSelectionner && outil === 'ligne'}" @click="selectionnerOutil('ligne')" @keydown.enter="selectionnerOutil('ligne')">
            <img src="/img/icones/ligne.png" :alt="$t('ligne')">
        </span>
        <span id="outil-fleche" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('fleche')" :class="{'actif': outilSelectionner && outil === 'fleche'}" @click="selectionnerOutil('fleche')" @keydown.enter="selectionnerOutil('fleche')">
            <img src="/img/icones/fleche.png" :alt="$t('fleche')">
        </span>
        <span id="outil-texte" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('texte')" :class="{'actif': outilSelectionner && outil === 'texte'}" @click="selectionnerOutil('texte')" @keydown.enter="selectionnerOutil('texte')">
            <img src="/img/icones/texte.png" :alt="$t('texte')">
        </span>
        <span id="outil-label" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('label')" :class="{'actif': outilSelectionner && outil === 'label'}" @click="selectionnerOutil('label')" @keydown.enter="selectionnerOutil('label')">
            <img src="/img/icones/label.png" :alt="$t('label')">
        </span>
        <label id="outil-image" for="televerser-image" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('image')" @click="selectionnerOutil('image')" @keydown.enter="selectionnerOutilImage()">
            <img src="/img/icones/image.png" :alt="$t('image')">
        </label>
        <input type="file" id="televerser-image" @change="televerserImage($event.target.files[0], 'input')" style="display: none" accept=".jpg, .jpeg, .png, .gif, .svg">
        <span id="outil-recherche" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('rechercher')" @click="selectionnerOutil('recherche')" @keydown.enter="selectionnerOutil('recherche')" v-if="pixabayAPI && pixabayAPI !== ''">
            <img src="/img/icones/loupe.png" :alt="$t('rechercher')">
        </span>
        <span id="outil-commentaire" class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('commentaire')" :class="{'actif': outilSelectionner && outil === 'commentaire'}" @click="selectionnerOutil('commentaire')" @keydown.enter="selectionnerOutil('commentaire')">
            <img src="/img/icones/commentaire.png" :alt="$t('commentaire')">
        </span>
        <span class="separateur" />
        <span class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('seConnecter')" v-if="!admin" @click="afficherModaleDebloquer" @keydown.enter="afficherModaleDebloquer">
            <img src="/img/icones/cle.png" :alt="$t('seConnecter')">
        </span>
        <span class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('parametres')" v-if="admin" @click="afficherMenuParametres" @keydown.enter="afficherMenuParametres">
            <img src="/img/icones/parametres.png" :alt="$t('parametres')">
        </span>
        <span class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('reinitialiser')" v-if="admin" @click="afficherReinitialiser" @keydown.enter="afficherReinitialiser">
            <img src="/img/icones/reinitialiser.png" :alt="$t('reinitialiser')">
        </span>
    </div>

    <div id="outils" v-else>
        <span class="outil" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('seConnecter')" @click="afficherModaleDebloquer" @keydown.enter="afficherModaleDebloquer">
            <img src="/img/icones/cle.png" :alt="$t('seConencter')">
        </span>
    </div>

    <div id="options" tabindex="-1" :class="{'multipage': options.hasOwnProperty('multipage') && options.multipage === 'oui', 'commentaires': Object.keys(commentairesPage).length > 0}" v-if="(admin || role === 'editeur' || (options.hasOwnProperty('edition') && options.edition === 'ouverte')) && (nom !== '' || !outilSelectionner)">
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('verrouiller')" v-if="outilSelectionner && !objetVerrouille && objet !== 'dessin'" @click="verrouiller" @keydown.enter="verrouiller">
            <span><i class="material-icons">lock</i></span>
        </span>
        <span class="option icone orange" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('deverrouiller')" v-else-if="outilSelectionner && objetVerrouille && objet !== 'dessin'" @click="deverrouiller" @keydown.enter="deverrouiller">
            <span><i class="material-icons">lock_open</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('mettreDevant')" v-if="outilSelectionner && objet !== 'selection'" @click="mettreDevant" @keydown.enter="mettreDevant">
            <span><i class="material-icons">flip_to_front</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('mettreDerriere')" v-if="outilSelectionner && objet !== 'selection'" @click="mettreDerriere" @keydown.enter="mettreDerriere">
            <span><i class="material-icons">flip_to_back</i></span>
        </span>
        <span class="separateur" v-if="outilSelectionner && objet !== 'image'" />
        <span class="option noir" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('noir')" :class="{'actif': outilDessiner && couleurStylo === '#000000'}" @click="modifierCouleur('#000000')" @keydown.enter="modifierCouleur('#000000')" v-if="nom !== 'selection' && objet !== 'image' && objet !== 'label' && objet !== 'commentaire'">
            <span class="couleur noir" />
        </span>
        <span class="option blanc" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('blanc')" :class="{'actif': outilDessiner && couleurStylo === '#ffffff'}" @click="modifierCouleur('#ffffff')" @keydown.enter="modifierCouleur('#ffffff')" v-if="nom !== 'selection' && objet !== 'image' && objet !== 'label' && objet !== 'commentaire'">
            <span class="couleur blanc" />
        </span>
        <span class="option rouge" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('rouge')" :class="{'actif': outilDessiner && couleurStylo === '#ff0000'}" @click="modifierCouleur('#ff0000')" @keydown.enter="modifierCouleur('#ff0000')" v-if="nom !== 'selection' && objet !== 'image'">
            <span class="couleur rouge" />
        </span>
        <span class="option jaune" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('jaune')" :class="{'actif': outilDessiner && couleurStylo === '#ffff00'}" @click="modifierCouleur('#ffff00')" @keydown.enter="modifierCouleur('#ffff00')" v-if="nom !== 'selection' && objet !== 'image'">
            <span class="couleur jaune" />
        </span>
        <span class="option vert" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('vert')" :class="{'actif': outilDessiner && couleurStylo === '#00ff00'}" @click="modifierCouleur('#00ff00')" @keydown.enter="modifierCouleur('#00ff00')" v-if="nom !== 'selection' && objet !== 'image'">
            <span class="couleur vert" />
        </span>
        <span class="option bleu" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('bleu')" :class="{'actif': outilDessiner && couleurStylo === '#04fdff'}" @click="modifierCouleur('#04fdff')" @keydown.enter="modifierCouleur('#04fdff')" v-if="nom !== 'selection' && objet !== 'image'">
            <span class="couleur bleu" />
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" v-if="nom !== 'selection' && objet !== 'image'" @click="definirCouleur" @keydown.enter="definirCouleur">
            <label for="couleur-selecteur"><i class="material-icons">colorize</i></label>
            <input type="color" id="couleur-selecteur" :value="couleurSelecteur" :title="$t('selectionnerCouleur')">
        </span>
        <span class="separateur" v-if="outilDessiner" />
        <span class="option label-epaisseur" v-if="outilDessiner">
            <span><i class="material-icons">line_weight</i></span>
        </span>
        <span class="option epaisseur" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': epaisseurStylo === 2}" v-if="outilDessiner" @click="modifierEpaisseur(2)" @keydown.enter="modifierEpaisseur(2)">
            <span>2</span>
        </span>
        <span class="option epaisseur" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': epaisseurStylo === 5}" v-if="outilDessiner" @click="modifierEpaisseur(5)" @keydown.enter="modifierEpaisseur(5)">
            <span>5</span>
        </span>
        <span class="option epaisseur" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': epaisseurStylo === 10}" v-if="outilDessiner" @click="modifierEpaisseur(10)" @keydown.enter="modifierEpaisseur(10)">
            <span>10</span>
        </span>
        <span class="option epaisseur" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': epaisseurStylo === 20}" v-if="outilDessiner" @click="modifierEpaisseur(20)" @keydown.enter="modifierEpaisseur(20)">
            <span>20</span>
        </span>
        <span class="option epaisseur" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': epaisseurStylo === 40}" v-if="outilDessiner" @click="modifierEpaisseur(40)" @keydown.enter="modifierEpaisseur(40)">
            <span>40</span>
        </span>
        <span class="option epaisseur" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': epaisseurStylo === 80}" v-if="outilDessiner" @click="modifierEpaisseur(80)" @keydown.enter="modifierEpaisseur(80)">
            <span>80</span>
        </span>
        <span class="option label-transparence" v-if="outilDessiner">
            <span><i class="material-icons">opacity</i></span>
        </span>
        <span class="option transparence" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': transparenceStylo === 0.4}" v-if="outilDessiner" @click="modifierTransparence(0.4)" @keydown.enter="modifierTransparence(0.4)">
            <span>0.4</span>
        </span>
        <span class="option transparence" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': transparenceStylo === 0.6}" v-if="outilDessiner" @click="modifierTransparence(0.6)" @keydown.enter="modifierTransparence(0.6)">
            <span>0.6</span>
        </span>
        <span class="option transparence" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'actif': transparenceStylo === 1}" v-if="outilDessiner" @click="modifierTransparence(1)" @keydown.enter="modifierTransparence(1)">
            <span>1</span>
        </span>
        <span class="separateur" v-if="outilSelectionner && nom !== 'selection' && (objet !== 'commentaire' || (objet === 'commentaire' && definirAuteurItem(nom) === identifiant || admin))" />
        <span class="option label-transparence" v-if="outilSelectionner && nom !== 'selection' && (objet === 'rectangle-plein' || objet === 'cercle-plein')">
            <span><i class="material-icons">opacity</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('reduireTransparence')" v-if="outilSelectionner && nom !== 'selection' && (objet === 'rectangle-plein' || objet === 'cercle-plein')" @click="reduireTransparence" @keydown.enter="reduireTransparence">
            <span><i class="material-icons">remove</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('augmenterTransparence')" v-if="outilSelectionner && nom !== 'selection' && (objet === 'rectangle-plein' || objet === 'cercle-plein')" @click="augmenterTransparence" @keydown.enter="augmenterTransparence">
            <span><i class="material-icons">add</i></span>
        </span>
        <span class="option label-taille" v-if="outilSelectionner && nom !== 'selection' && objet === 'texte'">
            <span><i class="material-icons">format_size</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('reduireTaille')" v-if="outilSelectionner && nom !== 'selection' && objet === 'texte'" @click="reduireTailleTexte" @keydown.enter="reduireTailleTexte">
            <span><i class="material-icons">remove</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('augmenterTaille')" v-if="outilSelectionner && nom !== 'selection' && objet === 'texte'" @click="augmenterTailleTexte" @keydown.enter="augmenterTailleTexte">
            <span><i class="material-icons">add</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('gras')" v-if="outilSelectionner && nom !== 'selection' && (objet === 'texte' || objet === 'label')" @click="formaterTexte('bold')" @keydown.enter="formaterTexte('bold')">
            <span><i class="material-icons">format_bold</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('italique')" v-if="outilSelectionner && nom !== 'selection' && (objet === 'texte' || objet === 'label')" @click="formaterTexte('italic')" @keydown.enter="formaterTexte('italic')">
            <span><i class="material-icons">format_italic</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('souligne')" v-if="outilSelectionner && nom !== 'selection' && (objet === 'texte' || objet === 'label')" @click="formaterTexte('underline')" @keydown.enter="formaterTexte('underline')">
            <span><i class="material-icons">format_underlined</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('barre')" v-if="outilSelectionner && nom !== 'selection' && (objet === 'texte' || objet === 'label')" @click="formaterTexte('line-through')" @keydown.enter="formaterTexte('line-through')">
            <span><i class="material-icons">format_strikethrough</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('alignerGauche')" v-if="outilSelectionner && nom !== 'selection' && objet === 'texte'" @click="alignerTexte('left')" @keydown.enter="alignerTexte('left')">
            <span><i class="material-icons">format_align_left</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('centrer')" v-if="outilSelectionner && nom !== 'selection' && objet === 'texte'" @click="alignerTexte('center')" @keydown.enter="alignerTexte('center')">
            <span><i class="material-icons">format_align_center</i></span>
        </span>
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('alignerDroite')" v-if="outilSelectionner && nom !== 'selection' && objet === 'texte'" @click="alignerTexte('right')" @keydown.enter="alignerTexte('right')">
            <span><i class="material-icons">format_align_right</i></span>
        </span>
        <span class="separateur" v-if="outilSelectionner && nom !== 'selection' && (objet === 'texte' || objet === 'label' || objet === 'rectangle-plein' || objet === 'cercle-plein')" />
        <span class="option label-filtre" v-if="outilSelectionner && nom !== 'selection' && objet === 'image'">
            <span><i class="material-icons">auto_awesome</i></span>
        </span>
        <select class="option selecteur" :value="definirFiltre()" @change="modifierFiltre($event.target.value)" v-if="outilSelectionner && nom !== 'selection' && objet === 'image'">
            <option :value="'Aucun'">{{ $t('aucunFiltre') }}</option>
            <option :value="'Pixelate'">{{ $t('pixelise') }}</option>
            <option :value="'Grayscale'">{{ $t('noirEtBlanc') }}</option>
            <option :value="'Invert'">{{ $t('inverse') }}</option>
            <option :value="'Sepia'">{{ $t('sepia') }}</option>
            <option :value="'Solarize'">{{ $t('solarise') }}</option>
        </select>
        <span class="separateur" v-if="outilSelectionner && nom !== 'selection' && objet === 'image'" />
        <span class="option icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('dupliquer')" v-if="outilSelectionner && nom !== 'selection' && objet !== 'commentaire'" @click="dupliquer" @keydown.enter="dupliquer">
            <span><i class="material-icons">content_copy</i></span>
        </span>
        <span class="option icone rouge" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('supprimer')" v-if="outilSelectionner && nom !== 'selection' && (objet !== 'commentaire' || (objet === 'commentaire' && definirAuteurItem(nom) === identifiant || admin))" @click="supprimer('objet')" @keydown.enter="supprimer('objet')">
            <span><i class="material-icons">delete</i></span>
        </span>
        <span class="option icone rouge" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('supprimer')" v-else-if="outilSelectionner && nom === 'selection'" @click="supprimerSelection" @keydown.enter="supprimerSelection">
            <span><i class="material-icons">delete</i></span>
        </span>
    </div>

    <div id="pages" :class="{'commentaires': Object.keys(commentairesPage).length > 0}" v-if="options.hasOwnProperty('multipage') && options.multipage === 'oui'">
        <span class="icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('afficherPagePrecedente')" @click="afficherPagePrecedente" @keydown.enter="afficherPagePrecedente"><i class="material-icons">navigate_before</i></span>
        <span class="texte" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('gererPages')" @click="afficherMenuPages" @keydown.enter="afficherMenuPages">{{ page + 1 }} / {{ items.length }}</span>
        <span class="icone" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('afficherPageSuivante')" @click="afficherPageSuivante" @keydown.enter="afficherPageSuivante"><i class="material-icons">navigate_next</i></span>
    </div>

    <div id="commentaires" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :title="$t('commentaires')" @click="afficherCommentaires" @keydown.enter="afficherCommentaires" v-if="Object.keys(commentairesPage).length > 0">
        <span class="icone"><img src="/img/icones/commentaires.png" :alt="$t('commentaires')"></span>
    </div>

    <div id="utilisateurs" role="button" :tabindex="modale === '' && menu === '' && message === '' ? 0 : -1" :class="{'commentaires': Object.keys(commentairesPage).length > 0}" :title="$t('utilisateursConnectes')" @click="gererMenuUtilisateurs" @keydown.enter="gererMenuUtilisateurs">
        <span class="icone"><i class="material-icons">people_alt</i></span>
        <span class="badge">{{ utilisateurs.length }}</span>
    </div>

    <div id="texte" class="conteneur-modale" v-if="modale === 'texte'">
        <div class="modale" role="dialog">
            <div class="conteneur">
                <div class="contenu">
                    <textarea :value="texte" @input="texte = $event.target.value" :placeholder="$t('monTexte')" />
                    <div class="actions">
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModaleTexte" @keydown.enter="fermerModaleTexte">{{ $t('annuler') }}</span>
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="ajouterTexte" @keydown.enter="ajouterTexte" v-if="outil === 'texte' || outil === 'label'">{{ $t('valider') }}</span>
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="enregistrerTexte" @keydown.enter="enregistrerTexte" v-else>{{ $t('valider') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="recherche" class="conteneur-modale" v-if="modale === 'recherche'">
        <div class="modale" role="dialog">
            <header>
                <span class="titre">{{ $t('rechercherPixabay') }}</span>
                <span class="fermer" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModaleRecherche" @keydown.enter="fermerModaleRecherche"><i class="material-icons">close</i></span>
            </header>
            <div class="conteneur">
                <div class="contenu">
                    <div class="rechercher">
                        <input type="search" :value="requete" @input="requete = $event.target.value" @keydown.enter="rechercher(1)">
                        <span role="button" :tabindex="message === '' ? 0 : -1" :title="$t('rechercher')" class="bouton-secondaire" @click="rechercher(1)" @keydown.enter="rechercher(1)"><i class="material-icons">search</i></span>
                    </div>
                    <div class="resultats" v-if="Object.keys(resultats).length > 0">
                        <div class="item" role="button" :tabindex="message === '' ? 0 : -1" :data-w="resultat.previewWidth" :data-h="resultat.previewHeight" v-for="(resultat, index) in resultats.hits" @click="ajouterImage(resultat.previewURL.replace('_150', '_1280'))" @keydown.enter="ajouterImage(resultat.previewURL.replace('_150', '_1280'))" :key="'image_' + index">
                            <img :src="resultat.previewURL" :alt="'Image_' + index">
                        </div>
                    </div>
                    <div class="navigation" v-if="Object.keys(resultats).length > 0 && (pageRecherche > 1 || pageRecherche < (resultats.total / 16))">
                        <span role="button" :tabindex="message === '' ? 0 : -1" :class="{'invisible': pageRecherche < 2}" @click="modifierPageRecherche('precedente')" @keydown.enter="modifierPageRecherche('precedente')">{{ $t('pagePrecedente') }}</span>
                        <span role="button" :tabindex="message === '' ? 0 : -1" :class="{'invisible': pageRecherche >= (resultats.total / 16)}" @click="modifierPageRecherche('suivante')" @keydown.enter="modifierPageRecherche('suivante')">{{ $t('pageSuivante') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="commentaire" class="conteneur-modale" :class="emojis" v-if="modale === 'commentaire'">
		<div class="modale" role="dialog">
			<header>
				<span class="titre">{{ $t('commentaires') }}</span>
				<span role="button" :tabindex="message === '' ? 0 : -1" class="fermer" @click="fermerModaleCommentaire" @keydown.enter="fermerModaleCommentaire"><i class="material-icons">close</i></span>
            </header>
			<ul class="commentaires ascenseur">
				<li :class="{'edition': editionCommentaire && commentaireId === entreeCommentaire.id}" v-for="(entreeCommentaire, indexEntreeCommentaire) in commentairesItem" :key="'commentaire_' + indexEntreeCommentaire">
                    <span class="meta" :class="{'auteur': entreeCommentaire.identifiant === identifiant || admin}">{{ $t('par') }} {{ definirNomUtilisateur(entreeCommentaire) }}, {{ formaterDateRelative(entreeCommentaire.date, langue) }}</span>
					<div class="action" v-if="entreeCommentaire.identifiant === identifiant || admin">
						<span role="button" :tabindex="message === '' ? 0 : -1" :title="$t('modifierCommentaire')" @click="afficherModifierCommentaire(entreeCommentaire.id, entreeCommentaire.texte)" @keydown.enter="afficherModifierCommentaire(entreeCommentaire.id, entreeCommentaire.texte)" v-if="commentaireId !== entreeCommentaire.id"><i class="material-icons">edit</i></span>
						<span role="button" :tabindex="message === '' ? 0 : -1" :title="$t('annuler')" @click="annulerModifierCommentaire" @keydown.enter="annulerModifierCommentaire" v-else-if="editionCommentaire && commentaireId === entreeCommentaire.id"><i class="material-icons">close</i></span>
						<span role="button" :tabindex="message === '' ? 0 : -1" :title="$t('supprimerCommentaire')" @click="supprimerCommentaire(entreeCommentaire.id)" @keydown.enter="supprimerCommentaire(entreeCommentaire.id)"><i class="material-icons">delete</i></span>
					</div>
					<div class="texte" v-if="commentaireId !== entreeCommentaire.id" v-html="entreeCommentaire.texte" />
					<div class="texte" v-else-if="editionCommentaire && commentaireId === entreeCommentaire.id">
						<div id="commentaire-modifie" />
						<button class="publier" :title="$t('publier')" @click="enregistrerModifierCommentaire"><i class="material-icons">edit</i></button>
                        <Emojis v-if="emojis === 'commentaire-modifie'" :type="emojis" @emoji="insererEmoji" />
					</div>
				</li>
				<li class="vide" v-if="commentairesItem.length === 0">
					{{ $t('aucunCommentaire') }}
				</li>
			</ul>
			<div class="ecrire-commentaire">
				<div id="editeur" />
				<button class="publier" :tabindex="message === '' ? 0 : -1" :title="$t('publier')" @click="ajouterCommentaire" v-if="outil === 'commentaire'"><i class="material-icons">send</i></button>
                <button class="publier" :tabindex="message === '' ? 0 : -1" :title="$t('publier')" @click="enregistrerCommentaire" v-else><i class="material-icons">send</i></button>
				<Emojis v-if="emojis === 'commentaire'" :type="emojis" @emoji="insererEmoji" />
			</div>
		</div>
	</div>

    <div class="conteneur-modale" v-else-if="modale === 'modifier-nom'">
        <div class="modale" role="dialog">
            <header>
                <span class="titre">{{ $t('modifierNom') }}</span>
                <span role="button" :tabindex="message === '' ? 0 : -1" class="fermer" @click="fermerModaleModifierNom" @keydown.enter="fermerModaleModifierNom"><i class="material-icons">close</i></span>
            </header>
            <div class="conteneur">
                <div class="contenu">
                    <label>{{ $t('votreNom') }}</label>
                    <input type="text" maxlength="48" :value="nouveaunom" @input="nouveaunom = $event.target.value" @keydown.enter="modifierNom">
                    <div class="actions">
                        <span role="button" :tabindex="message === '' ? 0 : -1" class="bouton" @click="modifierNom" @keydown.enter="modifierNom">{{ $t('valider') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-modale" v-else-if="modale === 'debloquer-tableau'">
        <div class="modale" role="dialog">
            <header>
                <span class="titre">{{ $t('connexion') }}</span>
                <span class="fermer" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModaleDebloquer" @keydown.enter="fermerModaleDebloquer"><i class="material-icons">close</i></span>
            </header>
            <div class="conteneur">
                <div class="contenu">
                    <label for="question-secrete">{{ $t('questionSecrete') }}</label>
                    <select id="question-secrete" :value="question" @change="question = $event.target.value">
                        <option value="" selected>-</option>
                        <option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
                    </select>
                    <label for="reponse-secrete">{{ $t('reponseSecrete') }}</label>
                    <input id="reponse-secrete" type="password" :value="reponse" @input="reponse = $event.target.value" @keydown.enter="debloquerTableau">
                    <div class="actions">
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="debloquerTableau" @keydown.enter="debloquerTableau">{{ $t('valider') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-modale" v-else-if="modale === 'modifier-acces'">
        <div class="modale" role="dialog">
            <header>
                <span class="titre">{{ $t('modifierAccesTableau') }}</span>
                <span class="fermer" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModaleAcces" @keydown.enter="fermerModaleAcces"><i class="material-icons">close</i></span>
            </header>
            <div class="conteneur">
                <div class="contenu">
                    <label for="question-secrete">{{ $t('questionSecreteActuelle') }}</label>
                    <select id="question-secrete" :value="question" @change="question = $event.target.value">
                        <option value="" selected>-</option>
                        <option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
                    </select>
                    <label for="reponse-secrete">{{ $t('reponseSecreteActuelle') }}</label>
                    <input id="reponse-secrete" type="text" :value="reponse" @input="reponse = $event.target.value">
                    <label for="nouvelle-question-secrete">{{ $t('nouvelleQuestionSecrete') }}</label>
                    <select id="nouvelle-question-secrete" :value="nouvellequestion" @change="nouvellequestion = $event.target.value">
                        <option value="" selected>-</option>
                        <option v-for="(item, index) in questions" :value="item" :key="'option_' + index">{{ $t(item) }}</option>
                    </select>
                    <label for="nouvelle-reponse-secrete">{{ $t('nouvelleReponseSecrete') }}</label>
                    <input id="nouvelle-reponse-secrete" type="text" :value="nouvellereponse" @input="nouvellereponse = $event.target.value" @keydown.enter="modifierAcces">
                    <div class="actions">
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="modifierAcces" @keydown.enter="modifierAcces">{{ $t('modifier') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-modale" v-else-if="modale === 'importer'">
        <div class="modale" role="dialog">
            <header>
                <span class="titre">{{ $t('importerTableau') }}</span>
                <span class="fermer" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
            </header>
            <div class="conteneur">
                <div class="contenu">
                    <p>{{ $t('alerteImporter') }}</p>
                    <input type="file" id="importer" name="importer" style="display: none;" accept=".zip" @change="importerTableau">
                    <label for="importer" class="bouton large" role="button" :tabindex="message === '' ? 0 : -1" @keydown.enter="activerInput('importer')">{{ $t('selectionnerFichier') }}</label>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-modale" v-else-if="modale === 'supprimer-tableau'">
        <div class="modale confirmation" role="dialog">
            <div class="conteneur">
                <div class="contenu">
                    <p v-html="$t('confirmationSupprimerTableau')" />
                    <div class="actions">
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('annuler') }}</span>
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="supprimerTableau" @keydown.enter="supprimerTableau">{{ $t('valider') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-modale" v-else-if="modale === 'modifier-role-utilisateur'">
        <div class="modale confirmation" role="dialog">
            <div class="conteneur">
                <div class="contenu">
                    <p v-html="donneesRoleUtilisateur.message" />
                    <div class="actions">
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('annuler') }}</span>
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="modifierRoleUtilisateur" @keydown.enter="modifierRoleUtilisateur">{{ $t('valider') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-modale" v-else-if="modale === 'reinitialiser'">
        <div class="modale confirmation" role="dialog">
            <div class="conteneur">
                <div class="contenu">
                    <p v-html="$t('reinitialiserTableau')" />
                    <div class="actions">
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale">{{ $t('annuler') }}</span>
                        <span class="bouton" role="button" :tabindex="message === '' ? 0 : -1" @click="reinitialiser" @keydown.enter="reinitialiser">{{ $t('valider') }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="conteneur-modale" v-else-if="modale === 'code-qr'">
        <div id="codeqr" class="modale" role="dialog">
            <header>
                <span class="titre">{{ $t('codeQR') }}</span>
                <span class="fermer" role="button" :tabindex="message === '' ? 0 : -1" @click="fermerModale" @keydown.enter="fermerModale"><i class="material-icons">close</i></span>
            </header>
            <div class="conteneur">
                <div class="contenu">
                    <div id="qr" />
                </div>
            </div>
        </div>
    </div>

    <div id="menu-utilisateurs" class="menu droite utilisateurs" v-if="menu === 'utilisateurs'" role="menu">
        <header>
            <span class="titre">{{ $t('utilisateursConnectes') }}</span>
            <span class="fermer" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="fermerMenu" @keydown.enter="fermerMenu"><i class="material-icons">close</i></span>
        </header>
        <div class="conteneur ascenseur">
            <ul>
                <template v-for="(utilisateur, indexUtilisateur) in utilisateurs">
                    <li class="moi" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="afficherModifierNom" @keydown.enter="afficherModifierNom" v-if="utilisateur.identifiant === identifiant" :key="'utilisateur_' + indexUtilisateur">
                        <span class="utilisateur actif" v-if="options.hasOwnProperty('edition') && options.edition === 'fermee' && role === 'editeur'">{{ utilisateur.nom }} ({{ $t('moi') }})</span>
                        <span class="utilisateur" v-else>{{ utilisateur.nom }} ({{ $t('moi') }})</span>
                        <span class="icone" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('modifierNom')"><i class="material-icons">edit</i></span>
                    </li>
                    <li v-else :key="indexUtilisateur">
                        <span class="utilisateur">{{ utilisateur.nom }}</span>
                        <span class="icone" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('attribuerDroitsEdition')" v-if="admin && options.hasOwnProperty('edition') && options.edition === 'fermee' && utilisateur.role !== 'editeur'" @click="afficherModaleModifierRoleUtilisateur(utilisateur.identifiant, 'editeur')" @keydown.enter="afficherModaleModifierRoleUtilisateur(utilisateur.identifiant, 'editeur')"><i class="material-icons">assignment_turned_in</i></span>
                        <span class="icone" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('attribuerDroitsEdition')" v-else-if="admin && options.hasOwnProperty('edition') && options.edition === 'fermee' && utilisateur.role === 'editeur'" @click="afficherModaleModifierRoleUtilisateur(utilisateur.identifiant, 'participant')" @keydown.enter="afficherModaleModifierRoleUtilisateur(utilisateur.identifiant, 'participant')"><i class="material-icons">cancel</i></span>
                        <span class="icone inactif" v-else-if="options.hasOwnProperty('edition') && options.edition === 'fermee' && utilisateur.role === 'editeur'"><i class="material-icons">assignment_turned_in</i></span>
                    </li>
                </template>
            </ul>
        </div>
    </div>

    <div id="menu-commentaires" class="menu droite commentaires" v-if="menu === 'commentaires'" role="menu">
        <header>
            <span class="titre">{{ $t('commentaires') }}</span>
            <span class="fermer" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="fermerMenu" @keydown.enter="fermerMenu"><i class="material-icons">close</i></span>
        </header>
        <div class="conteneur ascenseur">
            <div :id="'accordeon_' + entreeItemId" class="section accordeon" v-for="(entreeItem, entreeItemId, indexEntreeId) in commentairesPage" :key="'itemId_' + indexEntreeId">
                <div class="conteneur-accordeon">
                    <div class="en-tete-accordeon">
                        <div class="titre" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="afficherItemCommentaire(entreeItemId)" @keydown.enter="afficherItemCommentaire(entreeItemId)">
                            <span class="item-commentaire">{{ definirNumItem(entreeItemId) }}</span>
                            <span class="gestion-commentaires" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('gererCommentaires')" @click="afficherModaleCommentaires(entreeItemId)" @keydown.enter="afficherModaleCommentaires(entreeItemId)"><i class="material-icons">open_in_new</i></span>
                        </div>
                        <span class="statut" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="gererAccordeon(entreeItemId)" @keydown.enter="gererAccordeon(entreeItemId)">
							<i class="material-icons" v-if="accordeonOuvert !== entreeItemId" :title="$t('ouvrir')">add</i>
							<i class="material-icons" v-else :title="$t('fermer')">remove</i>
						</span>
                    </div>
                    <div class="contenu-accordeon">
                        <ul class="commentaires" v-if="entreeItem.length > 0" :key="'commentaire_' + indexEntreeId">
                            <li v-for="(entreeCommentaire, indexEntreeCommentaire) in entreeItem">
                                <span class="meta" :class="{'auteur': entreeCommentaire.identifiant === identifiant || admin}">{{ $t('par') }} {{ definirNomUtilisateur(entreeCommentaire) }}, {{ formaterDateRelative(entreeCommentaire.date, langue) }}</span>
                                <div class="texte" v-html="entreeCommentaire.texte" />
                            </li>
                        </ul>
                        <div class="vide" v-else>{{ $t('aucunCommentaire') }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="menu-parametres" class="menu gauche" v-if="menu === 'parametres'" role="menu">
        <header>
            <span class="titre">{{ $t('parametresTableau') }}</span>
            <span class="fermer" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="fermerMenu" @keydown.enter="fermerMenu"><i class="material-icons">close</i></span>
        </header>
        <div class="conteneur ascenseur" tabindex="-1">
            <div class="section">
                <label for="titre-tableau">{{ $t('titreTableau') }}</label>
                <input id="titre-tableau" type="text" :value="titre" :disabled="viaDigidrive" @keydown.enter="modifierTitre">
            </div>
            <div class="section section-bouton" v-if="!viaDigidrive">
                <span class="bouton" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="modifierTitre" @keydown.enter="modifierTitre">{{ $t('enregistrer') }}</span>
            </div>
            <div class="section">
                <label class="vues"><b>{{ $t('nombreVues') }}</b> {{ vues }}</label>
            </div>
            <div class="section">
                <label>{{ $t('lienEtCodeQR') }}</label>
                <div id="copier-lien">
                    <input type="text" disabled :value="hote + '/b/' + tableau">
                    <span class="icone lien" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('copierLien')" @keydown.enter="copierLien"><i class="material-icons">content_copy</i></span>
                    <span class="icone codeqr" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('afficherCodeQR')" @click="afficherCodeQR" @keydown.enter="afficherCodeQR"><i class="material-icons">qr_code</i></span>
                </div>
            </div>
            <div class="section">
                <label>{{ $t('codeIntegration') }}</label>
                <div id="copier-code">
                    <input type="text" disabled :value="'<iframe src=&quot;' + hote + '/b/' + tableau + '&quot; frameborder=&quot;0&quot; width=&quot;100%&quot; height=&quot;500&quot;></iframe>'">
                    <span class="icone lien" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('copierCode')" @keydown.enter="copierIframe"><i class="material-icons">content_copy</i></span>
                </div>
            </div>
            <div class="section">
                <label>{{ $t('langue') }}</label>
                <div id="langues">
                    <span role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :class="{'selectionne': langue === 'fr'}" @click="modifierLangue('fr')" @keydown.enter="modifierLangue('fr')">FR</span>
                    <span role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :class="{'selectionne': langue === 'it'}" @click="modifierLangue('it')" @keydown.enter="modifierLangue('it')">IT</span>
                    <span role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :class="{'selectionne': langue === 'en'}" @click="modifierLangue('en')" @keydown.enter="modifierLangue('en')">EN</span>
                </div>
            </div>
            <div class="section fond">
                <label>{{ $t('arrierePlan') }}</label>
                <div id="fonds">
                    <span role="button" :tabindex="modale === '' && message === '' ? 0 : -1" v-for="(imageFond, indexImageFond) in fonds" @click="modifierFond(imageFond)" @keydown.enter="modifierFond(imageFond)" :key="'fond_' + indexImageFond">
                        <img :src="'/img/vignettes/' + imageFond" :alt="'Fond' + (indexImageFond + 1)">
                    </span>
                    <span class="couleur-personnalisee">
                        <input type="color" :value="options.fond" @change="modifierCouleurFond($event.target.value)" :title="$t('selectionnerCouleur')" v-if="options.hasOwnProperty('fond') && options.fond.substring(0, 1) === '#'">
                        <input type="color" value="#ffffff" @change="modifierCouleurFond($event.target.value)" :title="$t('selectionnerCouleur')" v-else>
                    </span>
                </div>
            </div>
            <div class="section">
                <label>{{ $t('parametres') }}</label>
                <div class="conteneur-interrupteur">
                    <span>{{ $t('modeMultiPage') }}</span>
                    <label class="bouton-interrupteur" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @keydown.enter="activerInput('option-multipage')">
                        <input id="option-multipage" type="checkbox" :checked="options.multipage === 'oui'" @change="modifierMultiPage">
                        <span class="barre" />
                    </label>
                </div>
                <div class="conteneur-interrupteur">
                    <span>{{ $t('modeEdition') }}</span>
                    <label class="bouton-interrupteur" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @keydown.enter="activerInput('option-edition')">
                        <input id="option-edition" type="checkbox" :checked="options.edition === 'ouverte'" @change="modifierEdition">
                        <span class="barre" />
                    </label>
                </div>
                <div class="conteneur-interrupteur">
                    <span>{{ $t('affichageAuteur') }}</span>
                    <label class="bouton-interrupteur" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @keydown.enter="activerInput('option-affichage-auteur')">
                        <input id="option-affichage-auteur" type="checkbox" :checked="options.affichageAuteur === 'oui'" @change="modifierAffichageAuteur">
                        <span class="barre" />
                    </label>
                    <small>{{ $t('infoAffichageAuteur') }}</small>
                </div>
            </div>
            <div class="section section-bouton">
                <label>{{ $t('actions') }}</label>
                <span class="bouton" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="exporterImage" @keydown.enter="exporterImage">{{ $t('exporterImage') }}</span>
            </div>
            <div class="section section-bouton">
                <span class="bouton" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="exporterTableau" @keydown.enter="exporterTableau">{{ $t('exporterTableau') }}</span>
            </div>
            <div class="section section-bouton">
                <span class="bouton" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="afficherImporter" @keydown.enter="afficherImporter">{{ $t('importerTableau') }}</span>
            </div>
            <div class="section section-bouton" v-if="!viaDigidrive">
                <span class="bouton" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="afficherModaleAcces" @keydown.enter="afficherModaleAcces">{{ $t('modifierAccesTableau') }}</span>
            </div>
            <div class="section section-bouton" v-if="!viaDigidrive">
                <span class="bouton rouge" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="afficherModaleSupprimer" @keydown.enter="afficherModaleSupprimer">{{ $t('supprimerTableau') }}</span>
            </div>
            <div class="section section-bouton">
                <span class="bouton" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="terminerSession" @keydown.enter="terminerSession">{{ $t('terminerSession') }}</span>
            </div>
        </div>
    </div>

    <div id="menu-pages" class="menu haut" v-if="menu === 'pages'" role="menu">
        <span class="navigation gauche" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('afficherPagePrecedente')" @click="afficherPagePrecedente" @keydown.enter="afficherPagePrecedente"><i class="material-icons">navigate_before</i></span>
        <span class="navigation droite" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('afficherPageSuivante')" @click="afficherPageSuivante" @keydown.enter="afficherPageSuivante"><i class="material-icons">navigate_next</i></span>
        <draggable class="conteneur conteneur-pages" v-model="items" :delay="50" :delayOnTouchOnly="true" :swap-threshold="0.5" filter=".ajouter" @sort="deplacerPage" v-if="admin">
            <div :id="'page' + indexPage" class="page" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :class="{'selectionne': page === indexPage}" @click="afficherPage(indexPage)" @keydown.enter="afficherPage(indexPage)" v-for="(itemPage, indexPage) in items" :key="'page_' + indexPage">
                <span class="texte">{{ indexPage + 1 }}</span>
                <span class="supprimer" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('supprimerPage')" @click="supprimerPage($event, indexPage)" @keydown.enter="supprimerPage($event, indexPage)"><i class="material-icons">cancel</i></span>
            </div>
            <span class="ajouter" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('ajouterPage')" @click="ajouterPage" @keydown.enter="ajouterPage"><i class="material-icons">add_circle_outline</i></span>
        </draggable>
        <div class="conteneur conteneur-pages" v-else>
            <div class="page" :class="{'selectionne': page === indexPage}" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" @click="afficherPage(indexPage)" @keydown.enter="afficherPage(indexPage)" v-for="(itemPage, indexPage) in items" :key="'page_' + indexPage">
                <span class="texte">{{ indexPage + 1 }}</span>
            </div>
        </div>
        <footer>
            <span class="fermer" role="button" :tabindex="modale === '' && message === '' ? 0 : -1" :title="$t('fermerMenu')" @click="fermerMenu" @keydown.enter="fermerMenu"><i class="material-icons">expand_less</i></span>
        </footer>
    </div>

    <div id="auteur" />

    <Notification :notification="notification" @fermer="notification = ''" v-if="notification !== ''" />

    <Message :message="message" @elementPrecedent="definirElementPrecedent" @fermer="fermerMessage" v-if="message !== ''" />

    <Chargement v-if="chargement" />

    <ChargementPage v-if="chargementPage" />
</div>
